{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>
<body>
<h1>kant</h1>
<h2>django</h2>
<input type="button" class="btn btn-primary" value="新建"/>
<srcipt src="{% static 'js/jquery-3.6.0.min.js' %}"></srcipt>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>

<img src="{% static 'img/bg.png' %}" alt=""></img>
</body>
</html>